body {
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

#top {
  display: flex;
  justify-content: space-around;
  background-color: #B6A754;
  border-top: 5px solid black;

}

#top p {
  flex-flow: row nowrap;
  font-family: 'Inconsolata', Arial;
  font-weight: bold;
  font-size: 16px;
}

#top-header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
span {
  color: #B6A754;
}

#centeredBtns {
  display: flex;
  justify-content: center;
  font-family: courier;
  font-weight: bolder;
  margin-top: 1em;
}

.two-btns {
  height: 55px;
  width: 150px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 40px;
}

#logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 80px;
  margin-bottom: 30px;
}

#intro-buttons {
  width: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

#mid-border {
  font-family: 'Inconsolata', Arial;
  font-weight: bold;
  font-size: 18px;
  width: 85%;
  margin: 0 auto;
  padding: 55px;
  border-bottom: 5px outset #B6A754;
}

.header {
  display: flex;
  justify-content: center;
}
 #startBtn {
   background-color: black;
   border: 2px solid black;
   color: #B6A754;
   margin-right: 20px;
   height: 50px;
 }

 #reviewBtn {
   background-color: #B6A754;
   border: 2px solid #B6A754;
   color: black;
   font-weight: bold;
 }

 #resultsBtn {
   display: none;
 }

 #resultsDiv {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-around;
   width: 100%;
 }

.liqButtons {
   background-color: #B6A754;
   color: black;
   height: 60px;
   width: 147px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold;
 }
.two-buttons {
  height: 38px;
  margin: 0 auto;
}
#gamePage {
  display: none;
  height: 200px;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

#qAnswers {
  display: flex;
  justify-content: space-around;
}

#qName {
  font-size: 30px;
}

#resultsBtn {
  display: none;
}

#firstQuestion {
  display: flex;
  align-content: center;
  margin-bottom: 10px;
  margin-top: 3em;
}

article h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
  float: left;
  border-bottom: #c00 solid 3px;
}

#beer-icon {
  margin-left: 20px;
  margin-top: 35px;
}

.alertify {
  background-color: black;
  color: white;
  font-size: 20px;
}
.blk {
  background-color: black;
  color: #B6A754;
  height: 60px;
  width: 147px;
  border-radius: 5px;
  font-size: 16px;
  font-size: bold;
}

#resultsBtn {
  display: none;
  text-align: center;
  justify-content: center;
  background-color: #B6A754;
  color: black;
  font-weight: bold;
  height: 60px;
  width: 147px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 8em;
}

#resultsBut {
  display: flex;
  justify-content: space-around;
  align-self: center;
}


#alertify-ok {
  color: #B6A754;
}

.alertify-dialog {
  border: 5px solid #B6A754;
}

#nextButton {
  display: flex;
  justify-content: center;
  background-color: #B6A754;
  color: black;
  height: 50px;
  width: 147px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;

}

#arrowButton {
  display: flex;
  justify-content: center;
  background-color: black;
  color: #B6A754;
  height: 50px;
  width: 147px;
  border-radius: 5px;
  font-size: 16px;
  font-size: bold;

}

#anchorLeft {
  display: none;
}

#anchorMid {
  display: none;
  justify-content: space-around;

}

#anchorRight {
  display: none;
}

#buttonsContainer {
  display: none;
  justify-content: center;
}

#drinkDiv {
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  border: 2px solid #B6A754;
  border-radius: 5px;
  width: 350px;
  /*height: 510px;*/
  margin-bottom: 20px;
  margin-top: 20px;
}

#imageContainer {
  border: 2px solid #B6A754;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 300px;
  height: 250px;
  margin-top: 30px;
  margin-bottom: 0;
}

#drinkDiv h4 {
  font-size: 20px;
  color: tomato;
  margin-bottom: 0px;
}

#drinkDiv h5 {
  font-size: 14px;
  color: tomato;
  margin-bottom: 5px;
}

#imageContainer img {
  margin-top: 20px;
  max-height: 200px;
  height: 200px;
  max-width: 200px;
}

#drinkDiv ul {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
}

#drinkDiv ul li {
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-family: arial;
  color: white;
  list-style: none;
  margin-bottom: 5px;
}

#nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: #B6A754;
  border-top: 5px solid black;
}

#nav-bar p {
  display: flex;
  flex-flow: row nowrap;
}

#profile-container {
  font-family: 'Inconsolata', Arial;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

#crystal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98.5%;
  font-size: 18px;
  padding: 10px;
  background-color: #B6A754;
  border-radius: 5px;
  margin-bottom: 10px;
}

#crystal img {
  margin-right: 10px;
  width: 113px;
}

#james {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 98.5%;
  padding: 10px;
  background-color: #B6A754;
  border-radius: 5px;
  margin-bottom: 10px;
}

#james img {
  margin-right: 10px;
  width: 113px;
}

#tre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98.5%;
  padding: 10px;
  background-color: #B6A754;
  border-radius: 5px;
  margin-bottom: 10px;
}

#tre img {
  margin-right: 10px;
  width: 113px;
}

#tracey {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 98.5%;
  padding: 10px;
  background-color: #B6A754;
  border-radius: 5px;
  margin-bottom: 10px;
}

#tracey img {
  margin-right: 10px;
  width: 113px;
}
