body {
  background-color: white;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
span {
  color: #B6A754;
}

#centeredBtns {
  display: flex;
  justify-content: center;
  font-family: courier;
  font-weight: bolder;
}

.two-btns {
  height: 55px;
  width: 150px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 40px;
}

#logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 80px;
  margin-bottom: 30px;
}

#intro-buttons {
  width: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

#mid-border {
  font-family: 'Inconsolata', Arial;
  font-weight: bold;
  font-size: 18px;
  width: 50%;
  margin: 0 auto;
  padding: 80px;
  border-top: 5px outset #B6A754;
  border-bottom: 5px outset #B6A754;
}


.header {
  display: flex;
  justify-content: center;
}
 #startBtn {
   background-color: black;
   border: 2px solid black;
   color: white;
   margin-right: 20px;
 }

 #reviewBtn {
   background-color: #B6A754;
   border: 2px solid #B6A754;
   color: white;
 }

.liqButtons {
   background-color: #B6A754;
   color: white;
   height: 60px;
   width: 100px;
 }
.two-buttons {
  height: 38px;
  margin: 0 auto;
}
#gamePage {
  display: none;
  height: 200px;
}

#qAnswers {
  display: flex;
  justify-content: space-around;
}

#resultsBtn {
  display: none;
}

#firstQuestion {
  display: flex;
  align-content: center;
}

article h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
  float: left;
  border-bottom: #c00 solid 3px;
}

#beer-icon {
  margin-left: 20px;
  margin-top: 35px;
}
