body {
  background-color: white;
}

#beer {
  color: #B6A754;
}

#logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 80px;
}

.introduction {
  display: flex;
  align-items: center;
}

.intro-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}

#mid-border {
  margin-right: 50px;
  font-family: 'Inconsolata', Arial;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: center;
}
 #startBtn {
   background-color: black;
   border: 2px solid black;
   color: white;
   margin-right: 20px;
   margin-left: 295px;
 }

 #reviewBtn {
   background-color: black;
   border: 2px solid black;
   color: white;
 }
 /*.css-typing
 {
     width: 50em;
     white-space:wrap;
     overflow
     -webkit-animation: type 5s steps(50, end);
     animation: type 6s steps(50, end);
 }

 @keyframes type{
     from { width: 0; }
 }

 @-webkit-keyframes type{
     from { width: 0; }
 }*/

.p-tag {
  width: 70%;
  margin: 0 auto;
}

.two-buttons {
  height: 38px;
}
#gamePage {
  display: none;
}
