body {
  background-color: white;
}

ul li {
  list-style: none;
}


.img-container img {
  max-width: 150px;
  max-height: 150px;
  display: flex;
  justify-content: flex-start;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#allImg {
  display: flex;
  flex-direction: column;
}

#allImg ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#allImg li {
  margin-top: 10px;
}

.img-container{
  display: flex;
  justify-content: center;
  width: 80px;
  height: 200px;
}

.img-container li {
  max-width: 180px;
  max-height: 180px;
  height: 180px;
}

.text-container {
  display: flex;
  justify-content: center;
  margin-left: 60px;

}

form {
  display: flex;
  flex-direction: column;

]
}

#drink-selection {
    width: 20%;
}

#addReviewBtn {
  width: 100px;
  background-color: #0080ff;
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
  color: white;
}

textarea#text-area {
color:#666;
font-size:14px;
-moz-border-radius: 8px; -webkit-border-radius: 8px;
margin:5px 0px 30px 0px;
padding:10px;
height:75px;
width:350px;
border:#999 1px solid;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
box-shadow: 0 0 5px rgba(81, 203, 238, 0);
-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}

textarea#text-area:focus{
color:#000;
outline:none;
border:#35a5e5 1px solid;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
box-shadow: 0 0 5px rgba(81, 203, 238, 1);
-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
/*- See more at: http://www.prettyklicks.com/blog/textarea-animated-glow-like-on-twitter-using-css3/67/#sthash.Hx8TH9HX.dpuf*/
