body {
  background-color: white;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
span {
  color: #B6A754;
}

#centeredBtns {
  display: flex;
  justify-content: center;
  font-family: courier;
  font-weight: bolder;
}

.two-btns {
  height: 55px;
  width: 150px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 40px;
}

#logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 80px;
  margin-bottom: 30px;
}

#intro-buttons {
  width: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

#mid-border {
  font-family: 'Inconsolata', Arial;
  font-weight: bold;
  font-size: 18px;
  width: 50%;
  margin: 0 auto;
  padding: 80px;
  border-top: 5px outset #B6A754;
  border-bottom: 5px outset #B6A754;
}


.header {
  display: flex;
  justify-content: center;
}
 #startBtn {
   background-color: black;
   border: 2px solid black;
   color: #B6A754;
   margin-right: 20px;
 }

 #reviewBtn {
   background-color: #B6A754;
   border: 2px solid #B6A754;
   color: black;
   font-weight: bold;
 }

 #resultsBtn {
   display: none;
 }

 #resultsDiv {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-around;
   width: 100%;
 }

.liqButtons {
   background-color: #B6A754;
   color: black;
   height: 60px;
   width: 147px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold;
 }
.two-buttons {
  height: 38px;
  margin: 0 auto;
}
#gamePage {
  display: none;
  height: 200px;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

#qAnswers {
  display: flex;
  justify-content: space-around;
}

#qName {
  font-size: 30px;
}

#resultsBtn {
  display: none;
}

#firstQuestion {
  display: flex;
  align-content: center;
  margin-bottom: 10px;
}

article h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
  float: left;
  border-bottom: #c00 solid 3px;
}

#beer-icon {
  margin-left: 20px;
  margin-top: 35px;
}

.alertify {
  background-color: black;
  color: #B6A754;
  font-size: 20px;
}
.blk {
  background-color: black;
  color: #B6A754;
  height: 60px;
  width: 147px;
  border-radius: 5px;
  font-size: 16px;
  font-size: bold;
}

#resultsBtn {
  display: none;
  text-align: center;
  justify-content: center;
  background-color: #B6A754;
  color: black;
  font-weight: bold;
  height: 60px;
  width: 147px;
  border-radius: 5px;
  font-size: 16px;
}

#resultsBut {
  display: flex;
  justify-content: space-around;
  align-self: center;
}


#alertify-ok {
  color: #B6A754;
}

.alertify-dialog {
  border: 5px solid #B6A754;
}

#nextButton {
  display: flex;
  justify-content: center;
  background-color: #B6A754;
  color: black;
  height: 60px;
  width: 147px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;

}

#arrowButton {
  display: flex;
  justify-content: center;
  background-color: black;
  color: #B6A754;
  height: 60px;
  width: 147px;
  border-radius: 5px;
  font-size: 16px;
  font-size: bold;

}

#anchorLeft {
  display: none;
}

#anchorMid {
  display: none;
  justify-content: space-around;

}

#anchorRight {
  display: none;
}

#buttonsContainer {
  display: none;
  justify-content: center;
}
